.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.menu div {
  display: inline-block;
}

.navbarLink { 
  padding: 5px;
  text-decoration: none;
}

.product-info {
  margin-bottom: 25px;
  width: 33%;
  float: left;
}

.product-info img {
  width: 100px;
}

.product-details img {
  width: 40%;
}

ul {
  list-style-type: none;
}

.btn {
  margin: 4px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
